@model CategoryViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mt-5">
        <h1 class="text-info">Create a Category</h1>
        <form class="border p-5 bg-light" asp-action="Create">
            <div class="form-group row">
                <span asp-validation-for="Name" class="text-danger offset-sm-2"></span>
                <label asp-for="Name" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-6 p-0">
                    <input type="text" class="form-control" asp-for="Name" placeholder="Category name">
                </div>
            </div>
            <div class="form-group row rowGap">
                <a class="btn btn-success offset-sm-2 col-sm-3" asp-action="Index">Back to list</a>
                <button class="btn btn-primary col-sm-3"type="submit">Create</button>
            </div>
        </form>
    </div>


@section scripts {
<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml"/>
}